/* Custom theme for Marp */
section {
    font-family: 'Helvetica', sans-serif;
    font-size: calc(1.2vw + 1.2vh);
    color: #333;
    background-color: #f8f8f8;
}

section.lead {
    font-weight: bold;
    color: #0055aa;
}
